<form [formGroup]="registrationForm">
    <input class="entry" formControlName="username" placeholder="Email Id" />
    <input class="entry" formControlName="firstName" placeholder="FirstName" />
    <input class="entry" formControlName="lastName" placeholder="LastName" />
    <input class="entry" formControlName="password" placeholder="Password" type="password" />
    <input class="entry" formControlName="passwordAgain" placeholder="Password again" type="password" />
    <button class="entry" (click)="onRegister()">Register</button>
    <button class="entry" (click)="onBack()">Cancle</button>
</form>